<div>

    <h2></h2>

    <script type = "text/ng-template" id="recommendation-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myRecommendationLabel">Create or edit a Recommendation</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="recommendation.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>name:</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="recommendation.name" ng-required="true"
                           ng-minlength=4 ng-maxlength=65/>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least 4 characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 65 characters.</span>
                </div>
                
                <div class="form-group">
                    <label>info:</label>
                    
                    <input type="text" class="form-control" name="info"
                           ng-model="recommendation.info" ng-required="false"
                           ng-minlength=4 ng-maxlength=65/>
                    <span class="error" ng-show="form.info.$error.minlength">Must be at least 4 characters.</span>
                    <span class="error" ng-show="form.info.$error.maxlength">Must be at most 65 characters.</span>
                </div>
                
                <div class="form-group">
                    <label>active:</label>
                    
                    <input type="checkbox" name="active"
                           ng-model="recommendation.active" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>companyId:</label>
                    
                    <input type="number" class="form-control" name="companyId"
                           ng-model="recommendation.companyId" ng-required="true"
                           />
                    <span class="error" ng-show="form.companyId.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.companyId.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>detail:</label>
                    
                    <input type="text" class="form-control" name="detail"
                           ng-model="recommendation.detail" ng-required="true"
                           ng-minlength=10 ng-maxlength=1000/>
                    <span class="error" ng-show="form.detail.$error.minlength">Must be at least 10 characters.</span>
                    <span class="error" ng-show="form.detail.$error.maxlength">Must be at most 1000 characters.</span>
                </div>
                
                <div class="form-group">
                    <label>votes:</label>
                    
                    <input type="number" class="form-control" name="votes"
                           ng-model="recommendation.votes" ng-required="true"
                           min=0 max=5/>
                    <span class="error" ng-show="form.votes.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.votes.$error.max">Must be less than or equal to 5.</span>
                </div>
                
                <div class="form-group">
                    <label>recodate:</label>
                    
                    <input type="text" class="form-control" name="recodate" ui-date="recodateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="recommendation.recodate" ng-required="true"/>
                </div>
                
                <div class="form-group">
                    <label>createUserEmail:</label>
                    
                    <input type="text" class="form-control" name="createUserEmail"
                           ng-model="recommendation.createUserEmail" ng-required="true"
                           ng-minlength=5 ng-maxlength=65/>
                    <span class="error" ng-show="form.createUserEmail.$error.minlength">Must be at least 5 characters.</span>
                    <span class="error" ng-show="form.createUserEmail.$error.maxlength">Must be at most 65 characters.</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button ng-show="isLoggedIn('facebook')" class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span>Recomendá a alguien
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                
                <th>name</th>
                
                <th>info</th>
                
                <th>active</th>
                
                <th>companyId</th>
                
                <th>detail</th>
                
                <th>votes</th>
                
                <th>recodate</th>
                
                <th>createUserEmail</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recommendation in recommendations">
                
                <td>{{recommendation.name }}</td>
                
                <td>{{recommendation.info }}</td>
                
                <td>{{recommendation.active }}</td>
                
                <td>{{recommendation.companyId }}</td>
                
                <td>{{recommendation.detail }}</td>
                
                <td>{{recommendation.votes }}</td>
                
                <td>{{recommendation.recodate  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{recommendation.createUserEmail }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(recommendation.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(recommendation.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
