<div>

    <h2></h2>

    <script type = "text/ng-template" id="recommendation-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myRecommendationLabel">Datos de la Recommendación</h4>
            </div>
            <div class="modal-body">
                                
                <div class="form-group">
                    <label>Nombre de la Empresa o Persona:</label>
                    
                    <input type="text" class="form-control" name="recommendation.company.name"
                           ng-model="recommendation.company.name" ng-required="true"/>
                    
                </div>

                <div class="form-group move-down">
                        <label for="Autocomplete2">Ubicación:</label>
                            <input class="form-control" id="Autocomplete2" ng-autocomplete 
                            ng-model="recommendation.company.location.formattedAddress" 
							details="recommendation.company.location.details" options="options" />
                </div>

                
                <div class="form-group">
                    <label>Contanos..</label>
                    
                    <textarea type="text" rows="6" class="form-control" name="detail"
                           ng-model="recommendation.detail" ng-required="true"
                           ng-minlength="10" ng-maxlength="1000"/>
                    <span class="error" ng-show="form.detail.$error.minlength">Debe contener por lo menos 10 caracteres.</span>
                    <span class="error" ng-show="form.detail.$error.maxlength">Must be at most 1000 characters.</span>
                </div>
                
                <div class="form-group">
                    <label class="votes-info">Que puntaje le darías?</label>
                    
                    
                    <div>   
                        <uib-rating ng-model="recommendation.votes" max="max" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1">
                        </uib-rating>
                        
                </div>
                
                <div class="form-group">
                    <label>Fecha en que se realizó el servicio:</label>
                    
                    <input type="text" class="form-control" name="recodate" ui-date="recodateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="recommendation.recodate" ng-required="true"/>
                </div>
				
				<div class="form-group">
					<tags-input class="bootstrap" ng-model="recommendation.tags" placeholder="Agrega Tags..">
 						<auto-complete source="loadTags($query)">
                        </auto-complete>
					</tags-input>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>
	
	
	
	<div class="button-container">
		<div class="logo">
            <img class="img-responsive" src="../images/logo.png"/>
        </div>

        <div class="button-create">
            <a ng-show="isLoggedIn('facebook')" href="#" ng-click="create()" class="btn btn-warning">
                Recomendá a alguien
            </a>
        </div>
    </div>
	    <div class="form-group search">
	    	<div class="input-container">
			      <input type="text" ng-model="searchText" class="form-control" 
			      placeholder="Ingresa lo que quieras buscar...">
			</div>      
	  	</div>
	  	
        <div>
        
                    
        </div>            
	  	<div class="results" ng-show="recommendations.length">
		  	<div ng-repeat="recommendation in recommendations | filter: searchText" class="row">
		  		<div class="col-md-6">{{recommendation.company.name }}</div>
                <div class="col-md-6">{{recommendation.detail }}</div>
		  		<div class="col-md-6">{{recommendation.recodate  | date:'yy-MM-dd'}}</div>
                <div class="col-md-6">
                   
                   <uib-rating ng-model="recommendation.votes" max="max" readonly="true" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1">
                    </uib-ating>

                   
                </div>    
                <div class="col-md-6">
                   

                   <tags-input ng-disabled="true" class="bootstrap invalid-tag" ng-model="recommendation.tags" readonly="true">
                    </tags-input>
                </div>
		  		<div class="col-md-6">
		  			<button type="submit"
	                            ng-click="update(recommendation.id)"
	                            class="btn">
	                        <span class="glyphicon glyphicon-pencil"></span> Detalle
	                    </button>
		  		</div>
		  	</div>
		 </div>
		 <div class="no-data" ng-hide="recommendations.length">
		 	<div class="message-init">
		 		<span>Animate! Es fácil encontrar lo que necesitas</span>
		 	</div>
		 </div>
		  	
</div>
