<div>

    <h2></h2>

    <script type = "text/ng-template" id="recommendation-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myRecommendationLabel">Datos de la Recommendación</h4>
            </div>
            <div class="modal-body">
                

                
                <div class="form-group">
                    <label>Título:</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="recommendation.name" ng-required="true"
                           ng-minlength="4" ng-maxlength="65"/>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least 4
                     characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 65 characters.</span>
                </div>
                
                
                <div class="form-group">
                    <label>Nombre de la Empresa o Persona:</label>
                    
                    <input type="text" class="form-control" name="companyName"
                           ng-model="companyName" ng-required="true"/>
                    
                </div>

                <div class="form-group move-down">
                        <label for="Autocomplete">Ubicación:</label>
                            <input class="form-control" type="text" id="Autocomplete" ng-autocomplete 
                            ng-model="result" details="details" options="options" />
                </div>

                
                <div class="form-group">
                    <label>Detallanos lo que hicieron:</label>
                    
                    <textarea type="text" rows="6" class="form-control" name="detail"
                           ng-model="recommendation.detail" ng-required="true"
                           ng-minlength="10" ng-maxlength="1000"/>
                    <span class="error" ng-show="form.detail.$error.minlength">Debe contener por lo menos 10 caracteres.</span>
                    <span class="error" ng-show="form.detail.$error.maxlength">Must be at most 1000 characters.</span>
                </div>
                
                <div class="form-group">
                    <label class="votes-info">Que puntaje le darías?</label>
                    
                    <rating ng-model="recommendation.votes" max="max" readonly="isReadonly" 
                                on-hover="hoveringOver(value)" on-leave="overStar = null" 
                                titles="['one','two','three']" aria-labelledby="default-rating">
                            </rating>
                            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                </div>
                
                <div class="form-group">
                    <label>Fecha en que se realizó el servicio:</label>
                    
                    <input type="text" class="form-control" name="recodate" ui-date="recodateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="recommendation.recodate" ng-required="true"/>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button ng-show="isLoggedIn('facebook')" class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span>Recomendá a alguien
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                
                <th>name</th>
                
                <th>info</th>
                
                <th>active</th>
                
                <th>companyId</th>
                
                <th>detail</th>
                
                <th>votes</th>
                
                <th>recodate</th>
                
                <th>createUserEmail</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recommendation in recommendations">
                
                <td>{{recommendation.name }}</td>
                
                <td>{{recommendation.info }}</td>
                
                <td>{{recommendation.active }}</td>
                
                <td>{{recommendation.companyId }}</td>
                
                <td>{{recommendation.detail }}</td>
                
                <td>{{recommendation.votes }}</td>
                
                <td>{{recommendation.recodate  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{recommendation.createUserEmail }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(recommendation.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(recommendation.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
