<div>

    <h2>Locations</h2>

    <script type = "text/ng-template" id="location-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myLocationLabel">Create or edit a Location</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="location.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>formattedAddress:</label>
                    
                    <input type="text" class="form-control" name="formattedAddress"
                           ng-model="location.formattedAddress" ng-required="false"
                           ng-minlength=4 />
                    <span class="error" ng-show="form.formattedAddress.$error.minlength">Must be at least 4 characters.</span>
                    <span class="error" ng-show="form.formattedAddress.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>longitud:</label>
                    
                    <input type="number" step="any" class="form-control" name="longitud"
                           ng-model="location.longitud" ng-required="false"
                           />
                    <span class="error" ng-show="form.longitud.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.longitud.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>latitud:</label>
                    
                    <input type="number" step="any" class="form-control" name="latitud"
                           ng-model="location.latitud" ng-required="false"
                           />
                    <span class="error" ng-show="form.latitud.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.latitud.$error.max">Must be less than or equal to .</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Location
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>formattedAddress</th>
                
                <th>longitud</th>
                
                <th>latitud</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="location in locations">
                <td>{{location.id}}</td>
                
                <td>{{location.formattedAddress }}</td>
                
                <td>{{location.longitud }}</td>
                
                <td>{{location.latitud }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(location.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(location.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
