body {

}


.navbar-inverse .navbar-brand {
    color: #ffffff;
}


.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-weight: bold;
}


.last {

	width: 50%;
	padding-top: 5px;
}


.navbar {
	border:none;
	margin-bottom: 0;
}

.navbar-fixed-top {
	top:0;
	background-color: #00B3C9;
	height: 80px;
}
.container-fluid.content  {
	position: relative;
	top:80px;
}
/********recommnedation detail********************/
.user-info {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
  color: #ffffff;
}

.votes-info {
  padding-right: 20px;
}


/**********autocomplete*/

.pac-container {
    background-color: #FFF;
    z-index: 1051 !important;
    position: fixed;
    display: inline-block;
    float: left;
}


/*****************filter*****/
.search {
    margin: 0 auto;
    background-color: #92CED3;
    width: 100%;
    float: left;
    .input-search {
    	padding-left: 30px;
    }
}


.input-container {
	width: 50%;
	height: 45px;
	float: left;
}

.input-container .form-control {
    height: 35px;
    top: 5px;
    position: relative;
    left: 12px;
    max-width: 500px;
}

.recommend-button {
    width: 50%;
	height: 45px;
	float: left;
}

.recommend-button a{
	position: relative;
	top: 5px;	
}
.no-data {
	margin: 0 auto;
	width: 50%;
	margin-top: 4em;
}

.message-init span{
	font-size: 2em;
	font-weight: bold;
	color: #546053;
}

.button-container {
	height: 50px;
	margin-right: 10px;
  /*background-image: url(../images/logo.png);*/
}

.logo {
  width: 12%;
  display: inline-block;
  margin-left: 20px;
}	

.button-create {
  display: inline-block;
  float: right;
}


.btn-facebook {
    background-color: #ffffff;
    border-color: #4863ae;
    color: #4863ae;
    margin-top: 4px;
}

/*tags css *******************************/

.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}


/********profile image**********/

.profile-image {
  border-radius: 25px;
  margin-left: 5px;
}


/*********disabled container*****************************/

.fetching {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}


/********************results***********************************/

.results {
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.results .row {
	background-color: #EAE3D8;
	border-radius:5px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.results .row .company {
	 text-transform: uppercase;
}

.results .row .address {
	 padding-bottom: 15px;
}

.results .row .detail {
	 padding-bottom: 15px;
}

.results .row .profile {
	 font-size: 12px;
}