body {
  margin-top: 60px;
  background-color: #ECF0F1;

}

.navbar-inverse {
    background-color: #92b724;
    border-bottom-color: #546053;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

.navbar-inverse .navbar-brand {
    color: #546053 !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > li > a {
	color: #546053 !important;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #ffffff !important;
}

.last {

	width: 50%;
	padding-top: 5px;
}



/********recommnedation detail********************/
.user-info {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
  color: #546053;
}

.votes-info {
  padding-right: 20px;
}


/**********autocomplete*/

.pac-container {
    background-color: #FFF;
    z-index: 1051 !important;
    position: fixed;
    display: inline-block;
    float: left;
}


/*****************filter*****/
.search {
    margin: 0 auto;
    background-color: #ECF0F1;
    margin-bottom: 50px;
    margin-top: 30px;
    
    .input-search {
    	padding-left: 30px;
    }
}

.results {
	background-color: #ffffff;
	margin-left:50px;
	margin-right:50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #dddddd;
}

.input-container {
	margin: 0 auto;
	width: 40%;
	
}

.input-container .form-control {
	height:50px;
}


.no-data {
	margin: 0 auto;
	width: 50%;
	margin-top: 4em;
}

.message-init span{
	font-size: 2em;
	font-weight: bold;
	color: #546053;
}

.button-container {
	height: 50px;
	margin-right: 10px;
}

.create-button {
    padding: 1em;
    display: inherit;
    width: 28%;
    
}	